/* Importando as fontes pra usar em todas as Páginas*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* importa todas as fonte */


/* Reset do CSS da página */

*{
    margin: 0;
/* margem externa */
    padding: 0;
/* margem interna */
}


/* Estilização de todas as Fontes da página */

body{
    font-family: 'Lexend Deca', sans-serif;
/* chama as fontes importadas */
    background-color: #f3f5f7;
/* muda a cor de fundo */
}

main{
    min-height: calc(100vh - 157px);
}

/*Estilização da Ul "Lista de links" da página */

nav{
    display:flex;
/* separa as caixa e deixa uma do lado da outra */
    width: 100%;
/* define a largura de um elemento */
    height: 100%;
/* define a altura de um elemento */
    justify-content: space-between;
/* separa a exibição das caixas com espaçamente de uma pra outra */
    align-items: center;
/* alinha as caixas */
    color: #ffffff;
/* muda a cor das letras */
}

.box-grid{
    width: 900px;
/* define o tamanho da largura */
    margin: 0 auto;
/* define um tamanho das margens superior e inferior 0, direita e esquerda automatico */
    align-items: center;
/* alinha as caixas */
}

/*Estilização da Ul "Lista de links" da página */

ul{
    list-style-type:none;
/* retira as bolinha da lista que vem automatico */
    display: flex;
/* separas as caixa deixando uma do lado da outra */
    justify-content: space-between;
/* separa a posição das caixa */
    width: 15%;
/* define um tamanho de largura */
    align-items: center;
/* muda o alinhamento do itens dentro das caixa "center" centraliza */
}

a{
    color: inherit;
/* coloca uma cor que herdar "puxa a cor usada antes" */
    text-decoration: none;
/* retira o "sublinhado" do link que vem automatico */
}

/*Estilização da header "Cabeçalho" da página */

header{
    width: 100%;
/* define um tamamho de largura */
    height: 112px;
/* define um tamanha de altura */
    background: linear-gradient(90deg, #DB49C4 0%, #BC3EDB 100%);
/* coloca um efeito degrade no fundo */
}

.link-ativo{
    text-decoration: underline;
/* coloca um "sublinhado" na palavra indicando em qual página você esta agora */
}

/* Estilização da caixa artigo */

.artigo{
    background-color: #ffffff;
/* cor de fundo da caixa */
    padding: 30px;
/* margem interna */
    margin: 64px 0;
/* margem externa: superior e inferior 64px, esquerda e direita 0 */
    border-radius: 5px;
/* arredonas as pontas da bordas de todos os lados, quanto mais px mais arredonda fica */
}

/* Estilização a cabeçalho do artigo */

.cabecalho-artigo{
    display: flex; 
/* muda o layout das caixas ficando um elemento do lado do outo */
    justify-content: space-between;
/* separa os dois elementos deixando um no começo e outro no final da linha */
    margin-bottom: 30px;
/* margem-bottom é a margem de baixo */
}

.cabecalho-data{
    color: #b6b6b6;
/* altera a cor da fonte */
    font-size: 1em;
/* alterando a fonte, 1em é uma unidade de medida pra facilitar a responcividade */
}

.cabecalho-icone{
    font-size: 1.5em;
/* alterando a fonte, 1.5em é uma unidade de medida pra facilitar a responcividade */
    color: #bc3fdb
/* altera a cor da fonte */
}

.conteudo-artigo{
    margin-bottom: 10px;
/* altera a margem inferiror */
    font-size: 1.6em;
/* alterando a fonte, 1.6em é uma unidade de medida pra facilitar a responcividade */
    color: #313131;
/* altera a cor da fonte */
    font-weight: 500;
/* altera o peso da fonte ou estila tipo negrito, italico */
}

.conteudo-paragrafo{
    color: #b6b6b6;
/* altera a cor da fonte */
    font-size: 1.1em;
/* alterando a fonte, 1.1em é uma unidade de medida pra facilitar a responcividade */
    line-height: 1.5em;
/* altera o espaçamento da linha, 1.5em é uma unidade de medida pra facilitar a responcividade */
    font-weight: 400;
/* altera o espessura a linha mais grosa ou mais fina */
}

.conteudo-img{
    width: 100%;
/* define o tamanho de uma largura  */
    height: 250px;
/* define o tamanho de uma altura */
    border-radius: 5px 5px 0 0;
/* arredonas as pontas da bordas do lado superior esquerda e direita */
    background-image: linear-gradient(90deg, rgba(219, 73, 196, 0.3) 0%, rgba(188, 62, 219, 0.3) 100%), url(../img/tucano.jpg);
/* define uma imagem de fundo, "url()" define o caminho pra pegar a imagem sem usar ../ pra voltar na pasta da imagem salva */
/* linear-gradient(90deg, rgba(219, 73, 196, 0.3) 0%, rgba(188, 62, 219, 0.3) 100%) - usada para fazer um efeito degrade, usada antes da imagem "url()" o efeito degrade ficar na imagem */
    background-size: cover;
/* define o tamnha da imagem dentro do tamanho da caixa estabelecida com width e height */
    background-repeat: no-repeat;
/* o padrão da imagem de fundo é repetir varias vezes com esse comando a imagem não se repete */
    background-position-x: 0;
/* altera a posição da imagem dentro da caixa, x muda a posição da horizontal */
    background-position-y: 20%;
/* altera a posição da imagem dentro da caixa, y muda a posição da vertical */
}

/* Sempre chamar o id com o # para estilizar */
#artigo-4{
    margin-top: 0;
/* margem de cima */
    border-radius: 0 0 5px 5px;
/* arredonas as pontas da bordas do lado de baixo esquerda e direita */
}

/* Estilização do Rodapé da página */

footer{
    background-color: #BC3EDB;
/* mudar cor de funto */
    height: 45px;
/* aumenta o tamanho de altura */
    display: flex;
/* quebra as caixas */
    align-items: center;
/* alinha todos os item dentro da caixa */
    justify-content: center;
/* alinha a caixa maior */
    text-align: center;
/* alinha o texto dentro da caixa */
    color: #ffffff;
/* muda a cor o testo */
}
.conteudo-artigo{
    margin-bottom: 10px;
/* altera a margem inferiror */
    font-size: 1.6em;
/* alterando a fonte, 1.6em é uma unidade de medida pra facilitar a responcividade */
    color: #313131;
/* altera a cor da fonte */
    font-weight: 500;
/* altera o peso da fonte ou estila tipo negrito, italico */
}

.conteudo-paragrafo{
    color: #b6b6b6;
/* altera a cor da fonte */
    font-size: 1.1em;
/* alterando a fonte, 1.1em é uma unidade de medida pra facilitar a responcividade */
    line-height: 1.5em;
/* altera o espaçamento da linha, 1.5em é uma unidade de medida pra facilitar a responcividade */
    font-weight: 400;
/* altera o espessura a linha mais grosa ou mais fina */
}
/* Fim da estilização */

/* -------------------------------------------------------- */

/* Começo da Responsividade */
@media screen and (max-width: 900px){
/* alterando o embrulho da página onde definimos a largura do conteúdo do site  */
    .box-grid{
        width: auto;
/* altera a largura pra todas a telas através do "auto" */
        margin: auto 20px;
/* altera as margem do conteúdo: em cima e baixo= "automatico" e esquerda e direita="20px" o conteúdo não encosta nas bordas laterais */
    }
    ul{
        width: auto;
/* altera a largura pra todas a telas através do "auto" */
    }
    
    li:last-child{
        margin-left: 20px;
    }
/* uma outra forma de fazer a mesma coisa que "li:last-child" mais simples */
    /* .ultimo-link-nav{
        margin-left: 20px;  
    } */
}


/* Quando a tela tiver no máximo 650 pixes */
@media screen and (max-width: 650px){
    footer{
        height: 60px;

    }
}

/* Quando a tela tiver no máximo 450 pixes */
@media screen and (max-width: 450px){
    body{
        font-size: 0.5em;
        /* font-size: 12px; */
    }
    header{
        height: 60px;
    }
    main{
        min-height: calc(100vh - 120px);
    }
}

@media screen and (max-width: 320px) and (max-height: 568px){
    body{
        font-size: 0.5em;
        
    }
  
    
}

